<div id="wrapper">
         <app-sidebar></app-sidebar>
         <div id="content-wrapper" class="d-flex flex-column">
                  <div id="content">
                           <app-header></app-header>
                           <div class="container-fluid">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                             <h1 class="h3 mb-0 text-gray-800">Calendar</h1>
                                    </div>
                                    <full-calendar [options]="calendarOptions"></full-calendar>
                           </div>
                  </div>
                  <app-footer></app-footer>
         </div>
</div>