/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";

.validation-error {
    font-size: 14px;
    padding-left: 20px;
}

/* css for view password icon login page */
.view-password-icon-login-form{

        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6e707e;
        text-align: center;
        white-space: nowrap;
        background-color: #e8f0fe;
        border: 1px solid #d1d3e2;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-left: white;
}

/* css for view password icon in registration page */
.view-password-icon-register-form{

  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #d1d3e2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: white;
}

/* css for edit and delete icon listpost page */
.edit-delete-icon{
    cursor: pointer; 
    color: blue;
    
}

/* css for edit and delete button listpost page */
.edit-delete-button{
    border-radius: 22%; 
    border-color: blue;
    margin-left: 10px;
}

/* css for badge in list post page */
.badge{
    margin-left: 5px;
}

/* css for terms and condition page */
.align-text{
    padding-top: 20px;
    padding-right: 200px;
    padding-left: 200px;
}

.align-text-heading{
    padding-top: 20px;
    text-align: center;
}

/* css for drop down in index page */
.dropbtn {
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }
  .icon-pad{
    padding-right: 10px;
  }

  #attribute-style{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* css for input checkbox label add post page */
label.form-check-label {
    cursor: pointer;
}

/* css for input checkbox add post page */

input#postInTwitter {
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input#postInLinkedin {
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input#postInInstagram {
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input#postInFacebook {
  cursor: pointer;
  height: 17px;
  width: 17px;
}

/* background image for forgot password */
.bg-password-image {
  background: url(https://source.unsplash.com/oWTW-jNGl9I/600x800);
  background-position: center;
  background-size: cover;
}

/* badge color list post */
span.badge.badge-primary-color-facebook {
  background-color: #4267B2;
  color: white;
}

span.badge.badge-info-color-twitter {
  background-color: rgb(29, 161, 242);
  color: white;
}

span.badge.badge-secondary-color-instagram {
  background-color: #e74959;
  color: white;
}

span.badge.badge-light-color-linkedin {
  background-color: #0a66c2;
  color: white;
}

/* css for padding between the icon and the text inside the badge in the list post page */
i.fab.fa-facebook {
  padding-right: 3px;
}

i.fab.fa-twitter {
  padding-right: 3px;
}

i.fab.fa-instagram {
  padding-right: 3px;
}

i.fab.fa-linkedin {
  padding-right: 3px;
}

/* css for the width of the input tag of phone number in the user profile page */
input#phone {
  width: 210%;
}

/* css for submit button in the create post page */
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #858796;
}

/* css for disabling the autofill colour of the browser */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
