<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" required class="form-control form-control-user"
                                        formControlName="firstname" id="firstname" placeholder="First Name" />
                                    <div *ngIf="submitted &&  f.firstname.errors?.required"
                                        class="text-danger validation-error">* Please enter first name.</div>
                                </div>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control form-control-user"
                                        formControlName="lastname" id="lastname" placeholder="Last Name" />
                                    <div *ngIf="submitted &&  f.lastname.errors?.required"
                                        class="text-danger validation-error">* Please enter last name.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required type="email" class="form-control form-control-user" id="email"
                                    formControlName="email" placeholder="Email Address" />
                                <div *ngIf="submitted && f.email.errors?.required" class="text-danger validation-error">
                                    * Please enter valid email id.</div>
                            </div>
                            <div class="form-group input-group mb-3 col-sm-13">
                                <input
                                    [type]="passwordFieldTextType ? 'text' : 'password'"
                                    class="form-control form-control-user border-right-0"
                                    id="password"
                                    formControlName="password"
                                    placeholder="Password">
                                    <div class="col-sm-1.5 mb-1 mb-sm-0 input-group-prepend">
                                        <span class="view-password-icon">
                                            <i class="fa" [ngClass]="{
                                            'fa-eye-slash' : !passwordFieldTextType,
                                            'fa-eye' : passwordFieldTextType}" (click)="showPassword()"
                                            style="cursor: pointer;">
                                            </i>
                                        </span>
                                    </div>
                            </div>

                            <div *ngIf="submitted && f.password.errors" class="text-danger validation-error">
                                <div *ngIf="f.password.errors?.required">* Password is required</div>
                                <div *ngIf="f.password.errors?.minlength">* Password must be at least 6 characters</div>
                            </div>

                            <div class=" input-group ">     
                                <input [type]="confrimPasswordFieldTextType ? 'text' : 'password'"
                                    class="form-control form-control-user border-right-0" id="confirmPassword"
                                    formControlName="confirmPassword" placeholder="Repeat Password">
                                    <div class="col-sm-1.5 mb-1 mb-sm-0 input-group-prepend ">
                                        <span class="view-password-icon">
                                            <i class="fa" [ngClass]="{
                                            'fa-eye-slash' : !confrimPasswordFieldTextType,
                                            'fa-eye' : confrimPasswordFieldTextType}" (click)="showConfrimPassword()"
                                            style="cursor: pointer;">
                                            </i>
                                        </span>
                                    </div>
                            </div>
                            <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger validation-error">
                                <div *ngIf="f.confirmPassword.errors?.required">* Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors?.mustMatch">* Passwords must match</div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input 
                                      type="checkbox" 
                                      class="custom-control-input" 
                                      id="customCheck"
                                      value="true"
                                      formControlName="acceptTerms">
                                    <label class="custom-control-label" for="customCheck">By clicking this you should be agree to our <a href="http://localhost:4200/terms-and-conditions" target="blank">terms and condition</a></label>
                                </div>
                            </div>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="text-danger validation-error">
                                <div *ngIf="f.acceptTerms.errors?.required">* This is a required feild</div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <app-alert></app-alert>
                            <hr>
                            <a (click)="signInWithGoogle()" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a (click)="signInWithFB()" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" routerLink="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>